<div class="container">
	<div class="jumbotron text-center">
		<h1><%="#{@dog.name} the #{@dog.breed}"  %></h1>
		<h3>Owned by</h3>
		<h3><%= link_to @owner.name, user_path(@owner)%></h3>
	</div>
</div>


<div class="container">
	<%= image_tag "#{@dog.picture}", class: "pull-left"%>
	<div class="text-center">	
		<h3>Reviews</h3>
		<% @dog.recent_reviews.each do |review| %>
		<%= "#{review.content}" %><br>
		-
		<%= link_to review.user.name, user_path(review.user) %><br><br>
		<% end %>
	</div>
</div>
<br>
<div class="container text-center">
<% if !current_user.reviewed?(@dog) && @owner != current_user %>
	<div class="btn-toolbar">
	<%= link_to "Review #{@dog.name}", {controller: "dog_reviews", action: "new", dog: @dog.id}, class: " btn btn-primary center-block" %>
	</div>
<% end %>	
</div>
