<h1>Edit Dog Review</h1>

<h3> <%= @dog.name %> </h3>
<h3> <%= @dog.breed %> </h3>
<%=image_tag  "#{@dog.picture}" %>

<%= form_for @dog_review, :url => {controller: "dog_reviews", action: "update", dog: @dog.id} do |f| %>

<label>Type Your Review Here</label>
<%= f.text_area :content %>

<%= f.submit "Edit Review" %>
<% end %>