<div class="container">
	<%= form_for @user  do |f|%>
	<label>Name</label><br>
	<%= f.text_field :name, class: "form-control" %><br>

	<label>Email</label><br>
	<%= f.text_field :email, class: "form-control" %><br>

	<label>Password</label>
	<%= f.password_field :password, class: "form-control" %><br>

	<%= f.submit "Create New Account", class: "btn btn-primary"%>

	<% end %>
</div>