<div class="container">
	<h1><%= @user.name %></h1>
</div>

<h3>My Dogs</h3>
<% if @dogs.empty? %>
	<p>You haven't added any dogs yet</p>
<% else %>
	<% @dogs.each do |dog| %>
	<%= link_to dog.name, dog_path(dog) %><br>
	<% end %><br>
<% end %>	

<h3>Recent Reviews</h3>
<% if @user.recent_reviews.empty? %>
	<p>You haven't been reviewed yet</p>
<% else %>	
	<% @user.recent_reviews.each do |review| %>
	<%= "#{review.content}" %><br>
	<p>-</p>
	<%= link_to review.reviewer.name, user_path(review.reviewer) %><br><br>
	<% end %>
<% end %>	

<h3>Negative Review Count: <%= @user.negative_reviews_as_reviewee_count %></h3>

<% if @user.id != session[:user_id] %>
	<%= link_to "Review #{@user.name}", {controller: "user_reviews", action: "new", user: @user.id} %><br>
<% end %>


