<div class="container">
	<div class="jumbotron text-center">
		<h1><%= @user.name %>'s Profile</h1>

		<% if @user.burned_at_stake %>
					<h4 class='burned'> BURNED AT STAKE </h4>
		<% end %>

	</div>
</div>




<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3><%= @user.name %>'s Dogs:</h3>
		<% if @dogs.empty? %>
			<p>You haven't added any dogs yet</p>
		<% else %>
			<% @dogs.each do |dog| %>
				<%= link_to "#{dog.name} the #{dog.breed}", dog_path(dog) %><br>
				<div class="media">
			  		<div class="media-left">
			    	<%= image_tag(dog.picture.image.url, class: 'media-object super-small-image') %>
			  		</div>
				</div><br>
			<% end %>
		<% end %>
    </div>
    <div class="col-sm-4">
      <h3>Recent Reviews</h3>
      <% if @user.recent_reviews.empty? %>
			<h5>You haven't been reviewed yet...</h5>
		<% else %>
			<% @user.recent_reviews.each do |review| %>
			<%= "#{review.content} - " %>
			<%= link_to review.reviewer.name, user_path(review.reviewer) %><br><br>
			<% end %>
		<% end %>
    </div>
    <div class="col-sm-4">
      <h3>Negative Review Count: <%= @user.negative_reviews_as_reviewee_count %></h3>
 	</div>
</div>

<div class="container text-center" id="user-show-button">
	<% if @user.id != session[:user_id] %>
	<div class="btn-toolbar">
	<%= link_to "Review #{@user.name}", {controller: "user_reviews", action: "new", user: @user.id}, class: "btn btn-primary" %>
	<% end %>
	</div>
</div>
