<h1>New User Review</h1>

<h3>Review of <%= @reviewee.name %> </h3>


<%= form_for @user_review, :url => {controller: "user_reviews", action: "create", reviewee: @reviewee.id} do |f| %>

<label>Type Your Review Here</label><br>
<%= f.text_area :content %><br>

<label>Is this a negative review?</label><br>
<%= f.check_box :mean %><br>

<%= f.submit "Review user" %>
<% end %>