<h1>New User Review</h1>

<h3> <%= @user.name %> </h3>
<%= @user.picture %>

<%= form_for @user_review, :url => {controller: "user_reviews", action: "create", user: @user.id} do |f| %>

<label>Type Your Review Here</label>
<%= f.text_area :content %>

<%= f.submit "Review user" %>
<% end %>